
 <!-- Header -->
    <%= render 'shared/header' %>
<!-- Categories/index.html.erb -->
<div class="flex h-screen bg-gray-100">
  <div class="flex-none w-64 p-6 bg-white shadow-lg">
    <!-- Sidebar with user info and navigation -->
    <%= render 'shared/sidebar' %>
  </div>
  <div class="flex-grow p-6">
    <!-- Main content -->
    <%
=begin%>
 <%= turbo_frame_tag "categories" do %>
      <!-- Render the list of categories here -->
      <%= render 'categories/category', collection: @categories %>
    <% end %> 
<%
=end%>


    <%= turbo_frame_tag "modal" do %>
      <%= tag.div data: { controller: "turbo-modal" }, class: "p-5 absolute z-50 top-20 left-80 w-96 break-words bg-white rounded-lg shadow  " do %>
        <%= render partial: 'new_category_form', locals: { category: @category } %> 
        <%= button_tag "Close", data: { action: "turbo-modal#hideModal"}, type: "button", class: "rounded-lg py-2 px-5 bg-red-600 text-white me-1 -ms-1" %>
      <% end %>
    <% end %>

  </div>
</div> 


